

.opacity-color div {
background: #184a7d;
}
.opacity-color div img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.opacity-color div:hover img {
	opacity: .5;
}

#menu{
	background-color: #140c70;
	border-radius: 15px;
	margin: 3px;

}

.textblanc{
	color: white;
}
.annonce{
	text-align: center;
	color: #FFFFFF;
	box-shadow: 30px;
	background-color: #140c70;
	border-radius: 50px;

}

.floating{
	display: flex;
	text-align: center;
}


#topslide{
	margin-top: 70%;
}


.margintop{
	margin-top: 50px;
	
}

.marginbottom{
	margin-bottom: 50px;
}

.bleu{
	color: blue !important;
}


.rouge
{color: red !important;
}

.bord{
	border: red;
	border-radius: 25px;

}

.blanc{
	color: white;
}

.rd{
	border-radius: 30px;
	box-shadow: 50px;
	color: blue;
	padding: 15px;
	margin: 10px;
	background-color: #F0F2D4;
}

.droit{
	float: right;
}


/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #140c70;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #140c70 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.map-responsive {
overflow:hidden;
padding-bottom:56.25%;
position:relative;>
height:0;
}

.map-responsive iframe {
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
